<div class="ion-page" id="main-content">

  <div class="banner-container">
    <h1 class="titulo-banner">Obrigado por escolher adotar conosco!</h1>
    <h2 class="txt-banner">Ficamos muito felizes por sua escolha! Entre em contato com nossa instituição para finalizar o processo de adoção!</h2>
    <img class="banner-img" src="../../assets/imgs/bannerapp5.png" />
    <h4 id="texto">Clique no botão abaixo e entre em contato com o Instituto Ifollow para prosseguir com o processo de adoção do seu novo amiguinho!</h4>
    <ion-button id="btn-contato">Continuar<ion-icon name="logo-whatsapp"></ion-icon></ion-button>
  </div>
  
</div>