<ion-content>
  <div class="ion-page" id="main-content">
    <div class="banner-container">
      <h1 class="titulo-banner">Faça sua Doação!</h1>
      <h2 class="txt-banner">Faça sua doação e ajude nossos peludinhos!</h2>
      <img class="banner-img" src="../../assets/imgs/bannerdoe 1.png" />
    </div>

    <div class="como-funciona-container">
      <h1 class="titulo-cards">Temos várias opções para você escolher como quer nos ajudar!</h1>
      <div id="cards">
        <ion-grid id="cards">
          <ion-row [ngClass]="{'ion-justify-content-center': donationsLength <= 2}">
            <ion-col size="12" size-md="6" size-lg="6" size-xl="3" class="card-col" *ngFor="let donation of donations">
              <ion-card>
                <ion-card-header>
                  <div class="card-header-content">
                    <div class="icon-title">
                      <img class="img-card-doar" [src]="donation.imageUrl">
                      <ion-card-title>{{ donation.title }}</ion-card-title>
                    </div>
                    <div class="linha-vertical"></div>
                    <div class="card-content">
                      <ion-card-content>
                        {{ donation.description }}
                        <h6 class="valor-card">R${{ donation.value }}</h6>
                        <ion-button size="small" class="card-btn" (click)="setOpen(true, donation.id)">Doar</ion-button>
                      </ion-card-content>
                    </div>
                  </div>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-content class="ion-padding">
        <div class="modal-content">
          <ion-label class="modal-txt">Tem certeza que deseja fazer essa doação?</ion-label>
          <div class="btn-container">
            <ion-button class="btn-modal-sim" (click)="donate()">Sim</ion-button>
            <ion-button class="btn-modal-nao" (click)="setOpen(false)">Não</ion-button>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
