<ion-content [fullscreen]="true">
<ion-content class="move-conteudo">
  <div class="shape">
    <div class="div-logo">
      <img class="logo" src="../../assets/imgs/logo instituto ifollowsvg.svg">
    </div>
    <div class="div-btn">
      <a routerLink="/login">
        <ion-button size="medium" class="botao">INICIAR <ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
      </a>
    </div>
    <div class="div-afolou">
      <img class="afolou" src="../../assets/imgs/afolou 1 1svg1.svg">
    </div>
  </div>
</ion-content>
</ion-content>
